// Variables
$main-bg-color: #fff;
$primary-color: #1d90f7;
$secondary-color: #f7941d;
$text-color: #212529;
$disabled-bg-color: #f2f2f2;
$border-radius: 3px;
$font-family: 'Gotham', sans-serif;
$btn-padding: 10px 40px;
$box-shadow: 0px 0px 12px 3px #f1f1f1;
